* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: url(images/realistic-neon-lights-background_23-2148907367.avif) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.table {
    background-color: #fff5;
    backdrop-filter: blur(9px);

} 

table {
   border-collapse: collapse;
   
}

table tr {
    padding: .45rem;
}

thead tr {
    background-color: #6e0737;
}

thead th {
    color: #fff;
    font-size: 1.15em;
}

tbody tr:nth-child(even){
background-color: aliceblue;
}

.table-header {
    font-size: 1.20em;
    background-color: black;
    color: #fff;
   text-align: center;
   padding: 1rem; 
}

td img {
    width: 36px;
    height: 36px;
    margin-right: 1rem;
    border-radius: 50%;
    vertical-align: middle;
}

 th, td,  tr {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

tbody td:first-child,
tbody td:nth-child(2) {
    text-align: left;
}

@media (max-width:700px) {
   table {
    border: 3px solid #6e0737; 
    width: 100%;
   }
   table thead tr, .table-header, td img {
    display: none;
   }

   table tr {
    display: block;
   }

   table th, table td {
    padding: .5em;
   }
   

   table td {
    text-align: right;
    display: block;
    font-size: 1em;
   }

   tbody td:first-child,
   tbody td:nth-child(2) {
    text-align: right;
   } 
   
   table td::before{
    content: attr(data-title) ": ";
    float: left;
   }

   tbody tr:nth-child(even){
    background-color:  #6e0737;
    color: #fff;
    }

    table::before {
        content: "Richest Athletes"; 
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        background-color: black;
        color: white;
        text-align: center;
        padding: 1em;
    }

}
