* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: url(images/realistic-neon-lights-background_23-2148907367.avif) center / cover;
    font-size: 1.25rem;
    font-family: sans-serif;
}

main {
    width: min(900px, 100%);
    margin-inline: auto; 
    padding-top: 50px; 
}

table {
   border-collapse: collapse;
   background-color: #fff5;
    backdrop-filter: blur(9px);
    width: 100%;
}

table tr {
    padding: .45rem;
}

thead tr {
    background-color: #6e0737;
}

thead th {
    color: #fff;
    font-size: 1.15em;
}

tbody tr:nth-child(even){
background-color: aliceblue;
}

 .header{
    font-size: 1.20em;
    background-color: black;
    color: #fff;
   text-align: center;
   padding: 1rem; 
}

td img {
    width: 36px;
    height: 36px;
    margin-left: auto;
    border-radius: 50%;
    vertical-align: middle;
    
}

 th, td,  tr {
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
}



@media (max-width:700px) {
   table {
    border: 3px solid #6e0737; 
   }
   table thead tr{
    display: none;
   }

   table tr {
    display: block;
   }

   table th, table td {
    padding: .5em;
   }
   

   table td {
    text-align: right;
    display: block;
    font-size: 1em;
   }
   tbody td:first-child,
   tbody td:nth-child(2) {
    text-align: right;
   } 
   table td::before{
    content: attr(data-title) ": ";
    float: left;
   }

   tbody tr:nth-child(even){
    background-color:  #6e0737;
    color: #fff;
    }

}
